<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template: `make launchd-install` fills in the local start time and duration. -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.energy-price-forecasting.awake</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-i</string>
    <string>-s</string>
    <string>-t</string>
    <string>@SECONDS@</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>@HOUR@</integer>
    <key>Minute</key>
    <integer>@MINUTE@</integer>
  </dict>
</dict>
</plist>
